<section *ngIf="page" class="page-content">
  <div class="max-width-container">

    <p *ngFor="let p of content$ | async" [innerHTML]="p"></p>


    <div class="max-width-container-mat-cards tag-cards">

      <mat-card *ngFor="let page of subpages"
                (mouseover)="page.toggleState()"
                (mouseout)="page.toggleState()"
                [@tagState]="page.state"
                [style.background]="'url(' + globals.uploadsPath + page.backgroundImage + ')'"
                [style.backgroundSize]="'cover'"
                [style.backgroundRepeat]="'no-repeat'">

        <a [routerLink]="['/', page.alias]"></a>

        <div class="footer-background"></div>

        <mat-card-footer>
          <mat-card-title>
            <span class="title">{{page.title}}</span>
            <span class="subtitle">{{page.subtitle}}</span>
          </mat-card-title>
        </mat-card-footer>

      </mat-card>

    </div>
  </div>
</section>
