h2 {
  line-height: 36px;
}

section {
  font-size: 18px;
}

section span {
  color: #6D6F71;
  font-size: 14px;
}

.max-width-container {
  max-width: 1200px;
  margin: auto;
  padding: 2.5vw 0vw;
}

>>> .flex-grid-thirds {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  /*flex-direction: row;
  flex-wrap: wrap;*/
}

>>> .flex-grid-thirds .col {
  width: 32%;
  margin-bottom: 40px;
}

#u1335458 {
    font-weight: 500;
    font-family: acumin-pro-extra-condensed, sans-serif;
}

@media (max-width: 960px) {

  .flex-grid-thirds, .max-width-container {
    padding: 2.5vw;
  }
  .flex-grid-thirds .col {
    width: 100%;
  }
}

.page-content h1 {
  font-family: acumin-pro-extra-condensed, sans-serif !important;
  font-size: 47px !important;
}


iframe {
  width: 100%;
  max-width: 100%;
}

h2 {
  color: #01518C;
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 0px;
  margin: 5px 0px;
}

p {
  font-size: 14px;
  margin-top: 0px;
}
