section {
    font-size: 18px;
}

section span {
    color: #6D6F71;
    font-size: 14px;
}

.max-width-container {
    max-width: 1200px;
    margin: auto;
    padding: 2.5vw 5vw;
}

p {
  margin-bottom: 20px;
}
