<section>
    <div [hidden]="submitted" class="max-width-container">
      <form (ngSubmit)="onSubmit(anonymousform)" #anonymousform="ngForm">
      <div class="card-container">
        <div class="form">
          <div>
            <label>Date/ Time of the Incident:</label><br/>
            <input type="text" id="date"  placeholder="Enter Date / Time"
            required
            [(ngModel)]="model.date" name="date"
            #date="ngModel"/>
            <div [hidden]="date.valid || date.pristine"
                 class="alert alert-danger">
              Date is required
            </div>
          </div>
          <div>
            <label>Describe suspected act of wrong doing in as much detail and including as many facts as possible:</label><br/>
            <textarea type="text" id="message" placeholder="Enter Your Message"
            required
            [(ngModel)]="model.message" name="message"
            #message="ngModel"></textarea>
            <div [hidden]="message.valid || message.pristine"
                 class="alert alert-danger">
              A message is required
            </div>
          </div>
          <div>
            <input type="checkbox" id="confirm" value="yes"
            required
            [(ngModel)]="model.confirm" name="confirm"
            #confirm="ngModel"
            />
            <div [hidden]="confirm.valid || confirm.pristine"
                 class="alert alert-danger">
              You must confirm accuracy
            </div>
            By submitting this form you are confirming that the information provided is accurate, made in good faith and provided with the intent of preventing, addressing and/or monitoring actual or suspected compliance violation(s).
            <br/>
            <br/>
          </div>
          <button class="submit-btn" type="submit" [disabled]="!anonymousform.form.valid">Submit</button>
        </div>
      </div>
      </form>
    </div>

    <div [hidden]="!submitted" class="max-width-container">
      <h2>You submitted the following:</h2>
      <div class="card-container">
        <div class="form">
          <div>
            <label>Date:</label><br/>
            {{model.date}}
          </div>
          <div>
            <label>Message:</label><br/>
            {{model.message}}
          </div>
        </div>
      </div>
    </div>
</section>
