<section class="page-content">
    <div class="max-width-container">
        <h1>{{ title$ | async }}</h1>

        <div class="history-intro" [innerHtml]="introtext$ | async"></div>

        <div class="history-content">
            <div>
                <div class="history-item">
                    <div [innerHtml]="content$ | async"></div>
                </div>
            </div>
            <div class="history-vid-container">
                <iframe src="https://player.vimeo.com/video/211296937"
                    width="480"
                    height="270"
                    frameborder="0"
                    webkitallowfullscreen
                    mozallowfullscreen
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
