<div *ngIf="project$ | async as project"
    id="container">
    <header [style.background]="'url(' + globals.uploadsPath + project.headerImage + ')'">
        <div class="full-width-title-background">
            <div class="max-width-title-container">
                <h1>{{ (project$ | async)?.title }}</h1>
            </div>
        </div>
    </header>
    <section class="page-content">
        <h2>{{ project.subtitle }}</h2>
        <main>
            <div class="left"
                [innerHTML]="mainContent$ | async"></div>
            <div class="right">
                <span *ngIf="project.location as location">
                    <h4>Location</h4>
                    <span>{{ location }}</span>
                </span>
                <span *ngIf="project.size as size">
                    <h4>Size</h4>
                    <span>{{ size }}</span>
                </span>
                <span class="services"
                    *ngIf="project.tags.services as services">
                    <h4>Services Provided</h4>
                    <span *ngFor="let service of services">{{service | titlecase}}</span>
                </span>
                <span *ngIf="sidebarContent$ | async as sbc"
                    [innerHTML]="cbs"></span>
            </div>
        </main>
    </section>
</div>