<mat-grid-list cols="4" gutterSize="16px">

    <mat-grid-tile *ngFor="let tile of tiles"
                  [colspan]="tile.columnSpan"
                  [rowspan]="tile.rowSpan"
                  [style.backgroundColor]="tile.backgroundColor"
                  [style.backgroundImage]="'url(' + tile.backgroundImage + ')'"
                  [style.backgroundSize]="'cover'"
                  [style.backgroundRepeat]="'no-repeat'"
                  [style.backgroundPosition]="'center'">

        <div [ngSwitch]="tile.type" [class]="tile.type + '-container'">

            <span *ngSwitchCase="'text-tile'" [innerHTML]="tile.safeContent"></span>

            <spotlight-tile *ngSwitchCase="'project-spotlight-tile'" [spotlightData]="tile.spotlight" [cmsPath]="baseAssetsPath"></spotlight-tile>

            <!--
            <span *ngSwitchDefault></span>
            -->
        </div>


        <!-- TODO: routerlink? -->
        <ng-container
          *ngIf="tile.linkTab=='Yes'; then remote; else local">
        </ng-container>
        <ng-template #local>
          <a *ngIf="tile.link" [href]="tile.link"></a>
        </ng-template>
        <ng-template #remote>
          <a *ngIf="tile.link" [href]="tile.link" target="_blank"></a>
        </ng-template>


        <mat-grid-tile-footer *ngIf="tile.title">
            <h3 class="H2-Project">{{tile.title}}</h3>
            <p class="subtitle" *ngIf="show">
              {{tile.subtitle}}
            </p>
        </mat-grid-tile-footer>


    </mat-grid-tile>

</mat-grid-list>
