<section class="page-content">
  <div class="max-width-container">
    <h2 class="blue-alt">North American Locations</h2>
    <div class="card-container">
      <app-locations-card *ngFor="let item of locations"
        image="{{item.image}}"
        info="{{item.info}}"
        city="{{item.city}}">
      </app-locations-card>
    </div>
    <h2 class="blue-alt">International Locations</h2>
    <div class="card-container">
      <app-locations-card *ngFor="let item of internationalLocations"
        image="{{item.image}}"
        info="{{item.info}}"
        city="{{item.city}}">
      </app-locations-card>
    </div>
  </div>
</section>
<section>
  <div class="mapBorder">
      <img src="assets/images/map.jpg" />
  </div>
</section>
<section>
  <div class="careers">
      <div class="max-width-container">
        <h2>Careers</h2>
        <p>Our family is growing! Please check our current listings, or submit an on-line application to see if your experience fits an upcoming need.</p>
        <a class="careerButton" href="">
          <p>Explore Career Opportunities</p>
        </a>
      </div>
  </div>
</section>
<app-contactform></app-contactform>
