<div class="clearfix borderbox" id="page" style=""><!-- group -->

<section class="page-content">
    <div class="max-width-container">

        <feature-tiles [tiles]="locationsPage.tiles" [baseAssetsPath]="globals.uploadsPath"></feature-tiles>

        <h2>North American Locations</h2>
        <div class="max-width-container flex-grid-fifths">
          <app-locations [locations]="locations"></app-locations>
        </div>

        <h2>International Locations</h2>
        <div class="max-width-container flex-grid-fifths">
          <app-locations [locations]="internationalLocations"></app-locations>
        </div>

    </div>
</section>

</div>
