.transition {
  width: 222px;
  min-height: 315px;
  background-color: #EFEFEF;
  background-color: rgba(175,176,177,0.2);
  margin-top: 1px;
  left: -571.9999999999999px;
  text-align: center;

  display: inline;
  float: left;
}
.transition h3 {
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 0px 0px 0px 10px;
  color: #01518C;
  padding-left: 0px;
  line-height: 36px;
}
.clearfix:after {
content: "\0020";
visibility: hidden;
display: block;
height: 0px;
clear: both;
}

.location {
  text-align: center;
}
.locationInner {
  min-height: 335px;
  background-color: #EFEFEF;
  background-color: rgba(175,176,177,0.2);
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
}
.location img {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  width: calc(100% - 20px);
}
.locationInner:hover {
  background-color: rgba(175,176,177,0.1);
  border: 2px solid #C7C3C3;
}
.location h3 {
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 0px 0px 0px 10px;
  color: #01518C;
  padding-left: 0px;
  line-height: 36px;
}
