H2 {
    min-height: 50px;
    background-color: transparent;
    font-family: acumin-pro-extra-condensed, sans-serif;
    position: relative;
    color: #01518C;
    line-height: 43px;
    font-weight: 700;
    left: 0%;
    text-align: center;
    font-size: 36px;
    z-index: 860;
}

.max-width-container {
  max-width: 1200px;
  margin: auto;
  padding: 2.5vw 0vw;
}


>>> .flex-grid-fifths app-locations {
  /*display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: stretch;
  align-content: flex-start;*/
  /*flex-direction: row;
  flex-wrap: wrap;*/
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

>>> .flex-grid-fifths .col {
  /*flex: calc(100% / 5);
  display: inline-block;
  margin-bottom: 10px;
  align-self: flex-start;*/
}


@media (max-width: 960px) {
  .flex-grid-fifths, .max-width-container {
    padding: 2.5vw;
  }
  .flex-grid-fifths .col {
    width: 100%;
  }
}
