<div id="container">

    <header [style.background]="'url(' + region.headerBackgroundImage + ')'"
            [style.backgroundSize]="'cover'"
            [style.backgroundRepeat]="'no-repeat'"
            [style.backgroundPosition]="'center'">


        <div class="full-width-title-background">
            <div class="max-width-title-container">
                <h1>{{region.subtitle}}</h1>
            </div>
        </div>

    </header>

    <section class="page-content">

        <div class="max-width-container spotlight">

          <div class="projectSpotlight">
            <div class="projectSpotlightInner">
              <h2 class="H1-title" style="color: #01518C;">Project Spotlight</h2><h3>{{region.projectSpotlight}}</h3>
            </div>
          </div>

          <div class="news">
            <h2 class="H1-title" style="color: #01518C; display: block; width: 100%;">{{region.news.headline}}</h2>
            <hr/>

              <div *ngFor="let articles of region.news.articles">

                  <h4>{{articles.title}}</h4>
                  {{articles.content}}
                  <hr/>

              </div>
          </div>

        </div>

    </section>


    <section class="page-content" id="u26680534">

        <div class="max-width-container-mat-cards tag-cards">

            <h2 class="H1-title" style="color: #01518C; display: block; width: 100%;">{{region.projectHeadline}}</h2>

            <mat-card *ngFor="let project of region.projects.project | slice:0:5"
                     [style.background]="'url(' + globals.uploadsPath + project.previewImage + ')'"
                     [style.backgroundSize]="'cover'"
                     [style.backgroundRepeat]="'no-repeat'" class="clearfix">

                <a [routerLink]="['/projects', project.path]"></a>

                <div class="footer-background"></div>

                <mat-card-footer>
                    <mat-card-title>
                        {{project.title}}
                    </mat-card-title>
                </mat-card-footer>


            </mat-card>

        </div>

    </section>

    <section class="page-content">

      <div class="max-width-container">

        <div class="H1-title" style="color: #01518C; display: block; width: 100%;">Contact Us</div>

        <div class="contact">
          <div class="map">
            <div [innerHTML]="region.safeMap"></div>
          </div>
          <div class="locations">
            <div *ngFor="let location of region.locations">
              <img class="arrow" src="http://bluemandle2.com/~imeg/assets/images/imeg_arrow.png" alt="" width="14" height="20">
              <h4>{{location.title}}</h4>
              {{location.description}}
              <div [innerHTML]="location.descriptionSafe"></div>
            </div>
          </div>
          <div class="contacts">
            <img class="arrow" src="http://bluemandle2.com/~imeg/assets/images/imeg_arrow.png" alt="" width="14" height="20">
            <h6>Contacts</h6>
            <div *ngFor="let contact of region.contacts">
              <h4>{{contact.name}}</h4>
              {{contact.title}}
              {{contact.email}}
            </div>
          </div>
        </div>
      </div>

    </section>

</div>
