<div>
  <div class="hero"
    [style.background]="bgImgUrl$ | async">
    <div>
      <h1>{{ (region$ | async)?.subtitle }}</h1>
    </div>
  </div>

  <section class="row1">
    <div>
      <div class="projects">
        <div class="spotlight-title">
          <h2>Project Spotlight</h2>
          <span>{{ (region$ | async)?.projectSpotlight }}</span>
        </div>
        <div class="slide-container">
          <img class="slide">
          <img class="slide">
        </div>
      </div>
      <div class="news">
        <h2>{{ (region$ | async)?.news.headline }}</h2>
        <div *ngFor="let article of (region$ | async)?.news.articles">
          <h4>{{article.title}}</h4>
          <div [innerHTML]="article.content"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="row2">
    <div>
      <h2>{{ (region$ | async)?.projectHeadline }}</h2>
      <div>
        <mat-card *ngFor="let project of (region$ | async)?.projects.project | slice:0:5; let i=index"
        (mouseover)="project.toggleState()"
        (mouseout)="project.toggleState()"
        [@tagState]="project.state"
          [style.background]="'url(' + globals.uploadsPath + project.previewImage + ')'"
          [style.backgroundSize]="'cover'"
          [style.backgroundRepeat]="'no-repeat'">
          <a [routerLink]="['/project-details', project.path]"></a>
          <mat-card-footer>
            <mat-card-title>
              {{project.title}}
            </mat-card-title>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </section>

  <section class="row3">
    <div class="contact">
      <h2>Contact Us</h2>
      <div class="container">
        <div class="map"
          [innerHTML]="map$ | async"></div>
        <div class="locations">
          <div *ngFor="let location of (region$ | async)?.locations"
            class="location">
            <div>
              <img src="http://bluemandle2.com/~imeg/assets/images/imeg_arrow.png">
              <h4>{{location.title}}</h4>
            </div>
            <div class="contact-info"
              [innerHTML]="location.description"></div>
          </div>
        </div>
        <div class="contacts">
          <div>
            <img src="http://bluemandle2.com/~imeg/assets/images/imeg_arrow.png">
            <h4>Contacts</h4>
          </div>
          <div *ngFor="let contact of (region$ | async)?.contacts"
            class="contact-info">
            <div>
              <h5>{{contact.name}}</h5>
              <span>{{contact.title}}</span>
            </div>
            <a href="{{contact.email}}">
              {{contact.email}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
