* {
  margin: 0;
}
html, body {
  height: 100%;
}
header {
  flex: 0 0 auto;
  z-index: 10;
  background: #c7c3c3;
  font-family: acumin-pro-extra-condensed, sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
}

#appBarUpper,
#appBarLower {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app-bar-max-width {
  max-width: 1200px;
  position: relative;
  width: 100%;
  margin: 0 5.5vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#appBarUpper {
  height: 60px;
  margin-bottom: 4px;
  background: white;
  color: #7f7f7f;
}

#appBarUpper a {
  text-decoration: none;
}

#appBarUpper nav {
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  z-index: 101;
}

#appBarUpper nav a {
  display: flex;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  margin-right: 16px;
}

.search-container {
  height: 40px;
  align-items: flex-end;
}

input {
  font-size: 16px;
  line-height: 1em;
  border: 1px solid #7F7F7F;
  box-sizing: border-box;
  margin-right: 12px;
  height: 100%;
}

#searchBtn {
  height: 100%;
  color: white;
  background: #B3B0B0;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.mat-icon-button {
  width: 30px;
  height: 30px;
}

mat-icon[name="search"] {
  font-size: 18px;
  font-weight: bold;
  margin: 4px 24px;
  height: auto;
  width: 100%;
}

#fbBtn,
#twitterBtn,
#linkedinBtn {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#fbBtn:hover,
#twitterBtn:hover,
#linkedinBtn:hover {
  transform: scale(1.2);
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#newsBtn {
  font-size: 21px;
  line-height: 1em;
  font-weight: 300;
  color: #7F7F7F;
  font-family: acumin-pro-extra-condensed, sans-serif;
  padding: 4px 8px;
  margin-left: 4px;
  border-left: solid 1px #7f7f7f;
}

#appBarLower {
  height: 39px;
  background: #01518C;
}

#appBarLower nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 100;
}

#appBarLower nav a {
  padding: 0 16px;
  margin: 0 1px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  line-height: 28px;
  text-align: center;
  font-size: 23px;
  color: #FFFFFF;
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-weight: 400;
}

#appBarLower nav a:hover {
  background: #c7c3c3;
}

@media (max-width: 960px) {
  #appBarUpper nav,
  #appBarLower nav {
    display: none;
  }
}

#logoContainerFullWidth {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#logoContainerMaxWidth {
  max-width: 1200px;
  position: relative;
  width: 100%;
  padding: 0 5vw;
}

#logoContainer {
  position: relative;
  height: 102px;
  width: 274px;
  margin-top: 12px;
  display: flex;
}

#logoFrameTop {
  z-index: 100;
  width: 254px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
  border-color: #C7C3C3;
  background-color: #FFFFFF;
  border-radius: 2px;
  border-width: 10px 10px 0px;
}

#logoFrameBottom {
  z-index: 100;
  width: 254px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-style: solid;
  border-color: #01518C;
  background-color: #FFFFFF;
  border-width: 0px 10px 10px;
}

#logo {
  z-index: 100;
  width: 240px;
  height: 58px;
  margin: auto;
  background: url("../assets/images/imeg-logo-small.svg");
  background-repeat: no-repeat;
}

@media (max-width: 960px) {
  #appBarLower {
    height: 18px;
  }
  #logo {
    position: fixed;
    width: 182px;
    height: 53px;
    top: 4px;
    left: 50%;
    margin-left: -91px;
  }
  #logoFrameTop,
  #logoFrameBottom {
    display: none;
  }
}

#drawerToggle {
  display: none;
}

@media (max-width: 960px) {
  #drawerToggle {
    display: block;
    position: fixed;
    top: 4px;
    right: 4px;
  }
}

mat-sidenav nav {
  margin-top: 82px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

mat-sidenav nav a {
  padding: 8px 24px;
  text-decoration: none;
  color: #01518C;
  font-size: 1.5em;
  border-bottom: solid 1px #01518C;
}

.active {
  background: #c7c3c3;
}

/* content */

mat-sidenav-container {
  padding-top: 103px;
}

/* footer */

footer {
  padding: 0 5vw;
  color: white;
  background: #01518C;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer div {
  height: 60px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#footerLeft {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

footer a {
  color: white;
  text-decoration: none;
}

footer svg {
  height: 50%;
  width: auto;
}

#u3925816-2, #u3925812-2, #u3925809-2, #u3925807-2, #u3925820-2, #u3925818-2 {
    font-size: 22px;
    color: #FFFFFF;
    line-height: 26px;
    padding-left: 5px;
}
.material-icons {
  font-weight: bold;
  font-size: 30px;
}

#u31684175 {
    width: 665px;
    height: 336px;
    background-color: #565656;
    background-color: rgba(68,68,68,0.9);
    top: -388px;
    left: 265px;
}
#u31684176 {
    z-index: 139;
    width: 647px;
    height: 294px;
    padding-bottom: 24px;
}
#u31684176 {
    position: relative;
    border-width: 9px;
    border-color: #01518C;
    margin-right: -10000px;
    background-color: #FFFFFF;
    border-radius: 6px;
    border-style: solid;
}
.grpelem, .accordion_wrapper {
    display: inline;
    float: left;
}
#u31684177-18 {
    z-index: 140;
    min-height: 270px;
    margin-right: -10000px;
    margin-top: 24px;
    width: 88.26%;
    left: 6.19%;
}
#u31684184-4 {
    z-index: 161;
    min-height: 42px;
    margin-right: -10000px;
    margin-top: 235px;
    width: 37.72%;
    left: 6.19%;
}
#u31684184-4 {
    color: #FFFFFF;
    text-align: center;
    line-height: 34px;
    font-weight: 700;
    position: relative;
    border-radius: 8px;
    border-color: #AFB0B1;
    font-family: acumin-pro-extra-condensed, sans-serif;
    background-color: #01518C;
    font-size: 24px;
    border-width: 1px;
    border-style: solid;
}
#u31684184-4:hover {
    background-color: #C7C3C3;
    color: #01518C;
}
.LightboxContent h2 {
    color: #3E3E3E;
    font-family: acumin-pro-extra-condensed, sans-serif;
    font-size: 38px;
    font-weight: 700;
    text-align: left;
    line-height: 30px;
    padding: 0 0 15px;
    margin: 0;
}
.LightboxContent p {
  font-size: 24px;
  line-height: 29px;
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-weight: 400;
}

@media (max-width: 450px) {
  footer {
    font-size: 0.7em;
  }
}
