section {
  font-size: 18px;
}

section span {
  color: #6D6F71;
  font-size: 14px;
}

.max-width-container {
  max-width: 1200px;
  margin: auto;
  padding: 2.5vw 5vw;
}


.news-item {
  margin-bottom: 25px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  font-family: acumin-pro-extra-condensed, sans-serif;
}

.news-item span {
  display: block;
}

.news-item a {
  display: block;
  clear: both;
  overflow: hidden;
  text-decoration: none;
}

.news-item .title {
  color: #01518C;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.news-item .date {
  color: #01518C;
  font-size: 25px;
  line-height: 30px;
  font-weight: normal;
}

.news-item .introtext {
  font-size: 18px;
  line-height: 22px;
}

.news-item .image {
  max-width: 130px;
  display: inline-block;
}

.news-item .image img {
  max-width: 100%;
}

.news-item .content {
  display: inline-block;
  vertical-align: top;
  padding: 5px 15px;
}

.news-item .image img {
  max-width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}

.button-container button {
  color: #01518C;
  font-size: 16px;
  padding: 8px 32px;
  margin: 16px;
  text-transform: capitalize;
  border: 1px solid #01518C;
}

.button-container button:hover {
  cursor: pointer;
}
