<section class="page-content">
  <div class="max-width-container">
    <span>
      <h2>News & Events</h2>
      <div *ngFor="let newsItem of newsLinks" class="news-item">
        <a [routerLink]="['/news/', newsItem.alias]">
          <div *ngIf="newsItem.image" class="image" [ngStyle]="{ 'background-image': 'url(' + newsItem.image + ')','background-size':'130px','width':'130px','height':'130px'}"></div>
          <span class="content">
            <h2 class="title">{{ newsItem.pagetitle }}</h2>
            <span class="date">{{ newsItem.publishedon | date }}</span>
            <span class="introtext">{{ newsItem.introtext }}</span>
          </span>
        </a>

      </div>

      <div *ngIf="showLoadMore$ | async" class="button-container">
          <button mat-stroked-button
          (click)="loadMore()">load more</button>
      </div>
    </span>
  </div>
</section>
