section {
    font-size: 18px;
}

.max-width-container {
    max-width: 1200px;
    margin: auto;
    padding: 2.5vw 5vw;
}

.max-width-container-mat-cards {
    max-width: 1200px;
    margin: auto;
    /*padding: 2.5vw 4.5vw;*/
    padding: 0.5vw 4.5vw;
    display: flex;
    flex-flow: row wrap;
}

section span {
    color: #6D6F71;
    font-size: 14px;
}

mat-card {
    flex: auto;
    height: 200px;
    width: 200px;
    margin: .5vw;
    color: white;
    display: flex;
    flex-direction: column;
}

@media (max-width: 960px) {

    mat-card {
        margin: 1.5vw;
    }
}

mat-card a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

mat-card-footer {
    z-index: 20;
    margin-top: auto;
    height: 72px;
}
mat-card-title {
    font-size: large;
    padding: 8px;
    font-family: acumin-pro-extra-condensed, sans-serif;
    font-size: 22px;
}

.footer-background {
    background: black;
    opacity: 0.5;
    height: 72px;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}



