
body {
    margin: 0;
    font-family: acumin-pro-extra-condensed, sans-serif;
}

.page-content {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 15px;
}

.page-content * {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 15px;
}
