<div *ngIf="homePage.merger.id !== '1'" style="position: fixed; top: 0px; left: 0px; z-index: 100001; display: block; width: 100vw; height: 100vh;">
  <div style="position: absolute; top: 0px; left: 0px;">
    <div id="u31684175" style="left: 0px; top: 0px; width: auto; height: auto; padding: 0px; margin: 0px; z-index: auto;">
      <div class="overlayWedge" style="width: 100vw; height: 100vh;">
      </div>
    </div>
  </div>
  <div class="LightboxContent" style="position: absolute;
top: 50%;
left: 50%;

margin: -168px 0 0 -332px; outline: currentcolor none medium; width: 0.0166667px; height: 7px;" role="dialog" tabindex="0">
    <div class="wp-slideshow-clip" style="position: relative; width: 665px; height: 336px; overflow: hidden; padding: 0px; border-width: 0px; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;">
    <div class="ContainerGroup rgba-background clearfix" data-sizepolicy="fixed" data-pintopage="page_fixedLeft" style="width: 665px; position: relative; top: 0px; left: 0px; margin: 0px; overflow: visible; height: 336px;"><!-- stack box -->
        <div class="Container rounded-corners clearfix grpelem wp-panel wp-panel-active" id="u31684176" data-sizepolicy="fixed" data-pintopage="page_fixedLeft" role="tabpanel" aria-labelledby="u31684174" style="top: 0px; left: 0px; margin: 0px; position: absolute; height: 294px;"><!-- group -->
          <!-- m_editable region-id="editable-static-tag-U31684177-BP_infinity" template="lkpb.html" data-type="html" data-ice-options="disableImageResize,link,txtStyleTarget" -->
          <div class="clearfix grpelem" id="u31684177-18" data-muse-uid="U31684177" data-muse-type="txt_frame" data-ibe-flags="txtStyleSrc"><!-- content -->
           <h2 id="u31684177-2" class="shared_content" data-content-guid="u31684177-2_content">Welcome!</h2>
           <h2 id="u31684177-6"><span class="shared_content" data-content-guid="u31684177-6_0_content">{{homePage.merger.title}}</span><span id="u31684177-4"><span class="actAsInlineDiv normal_text" id="u31684178"><!-- content --><span class="actAsDiv clip_frame excludeFromNormalFlow" id="u31684179" data-muse-uid="U31684179" data-muse-type="img_frame" data-sizepolicy="fixed" data-pintopage="page_fixedLeft"><!-- image --><img class="" id="u31684179_img" alt="" data-muse-src="assets/images/imeg-logo_final182x42.jpg" src="assets/images/imeg-logo_final182x42.jpg" data-widget-id="pamphletu31684167" width="181" height="42"></span></span></span><span id="u31684177-5" class="shared_content" data-content-guid="u31684177-5_content"></span></h2>
           <h2 id="u31684177-7" class="shared_content" data-content-guid="u31684177-7_content">&nbsp;</h2>
           <div [innerHtml]="homePage.merger.description"></div>
          </div>
          <!-- /m_editable -->
          <!-- m_editable region-id="editable-static-tag-U31684184-BP_infinity" template="lkpb.html" data-type="html" data-ice-options="disableImageResize,link,clickable" data-ice-editable="link" -->
          <a class="nonblock nontext rounded-corners clearfix grpelem shared_content" id="u31684184-4" href="{{homePage.merger.link}}" data-href="page:U29409965" data-muse-uid="U31684184" data-muse-type="txt_frame" data-content-guid="u31684184-4_content"><!-- content --><p>Continue to IMEG Corp.</p></a>
          <!-- /m_editable -->
         </div>
       </div>
     </div>
   </div>
 </div>

<section *ngIf="contentReady">


    <app-slider [slides]="slides" [useIndicators]="true" [useChevrons]="false" [auto]="true"></app-slider>


    <main>

        <div class="full-width-container">
            <div class="max-width-container">
                <feature-tiles [tiles]="homePage.tiles" [baseAssetsPath]="globals.uploadsPath"></feature-tiles>
            </div>
        </div>

    </main>

</section>
