.mdl-slider {
  position: relative;
  display: flex;
  height: 550px;
  width: 100%;
}

.slide {
  /* opacity: 0; */
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.max-width-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: auto;
}

.caption-container {
  position: absolute;
  bottom: 60px;
  right: 0;
  width: 50%;
  height: 50px;
  padding: 4px 4px 4px 16px;
  border-radius: 4px;
  color: #01518C;
  font-size: 2em;
  font-weight: bolder;

  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.6s ease;


  background: rgba(255, 255, 255, 0.7);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));

}


.caption-container:hover {
  background: rgba(1, 81, 140, 1);
  background: -webkit-linear-gradient(left, rgba(1, 81, 140, 1), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(right, rgba(1, 81, 140, 1), rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(right, rgba(1, 81, 140, 1), rgba(255, 255, 255, 0));
  background: linear-gradient(to right, rgba(1, 81, 140, 1), rgba(255, 255, 255, 0));
  color: white;
}

.caption-container a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.caption {
  /*display: flex;
  flex-direction: row;
  justify-content: right;*/
  display: block;
  margin-right: 10px;
  font-size: 35px;
  font-family: acumin-pro-extra-condensed, sans-serif;
  min-width: 400px;
}

.indicators {
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 100%;
  z-index: 20;
  align-items: center;
}

.indicator {
  background: url('assets/images/imeg_arrow_white.png') center center no-repeat;
  width: 19px;
  height: 23px;
  border: none;
  padding: 0;
  color: white;
  outline: none;
}

.indicator:hover {
  background-image: url('assets/images/imeg_arrow.png');
}

.indicator.active {
  color: #01518C;
  background-image: url('assets/images/imeg_arrow.png');
}
.indicator:hover {
  color: #01518C;
  cursor: pointer;
}
button.indicator:focus {
  border: 0;
}

.indicators button {
  font-size: 40px;
  font-weight: bolder;
}

.slide-arrows {
  padding-right: 4px;
  width: 15px;
  height: 23px;

}

.prev-container, .next-container {
  z-index: 100;
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
}

.prev-container {
  left: 0;
}

.next-container {
  right: 0;
}

.prev-container button, .next-container button {
  margin: auto;
  background: transparent;
  border: 0;
  color: white;
}

.prev-container button i, .next-container button i {
  font-size: 72px;
  font-weight: 700;
}
