<section *ngIf="leadersPage" class="page-content">
  <div class="max-width-container">

    <span [innerHTML]="leadersPage.page.safeContent"></span>

    <span *ngFor="let group of leadersPage.groups">

      <div class="group-title">{{group.title}}</div>

      <span class="group">

        <mat-card *ngFor="let leader of group.leaders"  (click)="openDialog(leader)">

          <div>
            <img [src]="leader.image" [alt]="leader.firstName + ' ' + leader.lastName">
          </div>

          <mat-card-footer>
            <span *ngIf="leader.firstName && leader.lastName" class="name">{{leader.firstName + ' ' + leader.lastName}}</span>
            <span *ngIf="leader.title" class="title">{{leader.title}}</span>
            <span *ngIf="leader.subtitle" class="subtitle">{{leader.subtitle}}</span>
          </mat-card-footer>


        </mat-card>

      </span>



    </span>



  </div>
</section>
