section {
    font-size: 18px;
    font-family: acumin-pro-extra-condensed, sans-serif;
}

.max-width-container {
    max-width: 1200px;
    margin: auto;
    padding: 2.5vw 5vw;
}

.group-title {
    color: #6D6F71;
    line-height: 46px;
    font-size: 38px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.group {
    display: flex;
    flex-flow: row wrap;
    max-width: 864px;
    margin: auto;
}

@media (max-width: 960px) {

    .group-title {
        padding-top: 48px;
    }

    .group {
        justify-content: center;
    }

}

mat-card {
    width: 200px;
    padding: 0px;
    margin: 6px;
    background: none;
    border: none;
    box-shadow: none !important;
    min-height: 275px;
    cursor: pointer;
    border: 2px solid #fff;
    font-family: acumin-pro-extra-condensed, sans-serif;
}
mat-card:hover {
  background-color: rgba(175,176,177,0.1);
  border: 2px solid #C7C3C3;
}

mat-card img {
    max-width: 100%;
}

mat-card-footer {
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 5px 10px;
}

.name {
    color: #01518C;
    font-size: 22px;
    line-height: 26px;
}
.title, .subtitle {
    color: #6D6F71;
    font-size: 17px;
    line-height: 20px;

}
.name,.title,.subtitle {
  display: block;
}
